@import 'partials/base';
@import 'partials/jquery-ui';
@import 'partials/owl-carousel';

$cor-calculadora: #1cc9ed;

body{
    background: url(../image/home/bg-magapay.jpg);    
    background-position: top;
    background-repeat: no-repeat;

    @include breakpoint($break-min-big){
        background-size: 100%;
    }

    @include breakpoint($break-medium-big){
        background: #fff;
    }
}

.descricao-topo{
    padding-top: 30px;

    @include breakpoint($break-small){
        flex-direction: column-reverse;
    }

    .desc{
        width: 525px;

        @include breakpoint($break-small){
            width: 100%;
            text-align: center;
        }

        img{ 
            
            margin-top: 20px;
            @include breakpoint($break-medium-big){
                display: none;
            }
        }
    }

    h2{
        font-size: em(56);
        color: #fff;
        font-weight: 700;

        @include breakpoint($break-medium-big){
            color: $cor-base;
            font-size: em(32);
            padding-left: 20px;
        }
        
        @include breakpoint($break-small){
            font-size: em(25);
            margin-top: 30px;
            padding-left: 0;
        }

        span{
            display: block;
        }
    }

    .maquininha-magapay img{
        @include breakpoint($break-small){
            margin: 0 auto;
        }
    }
}

.vantagens{
    padding-top: 315px;

    @include breakpoint($break-medium-big){
        padding-top: 80px;
    }

    @include breakpoint($break-small){
        padding-top: 50px;
    }

    .flex{
        @include breakpoint($break-medium-big){    
            flex-wrap: wrap;
            padding: 0 20px;
        }
    }

    h2{
        color: #d2310f;
    }

    .vantagem{
        width: 232px;
        height: 222px;
        text-align: center;
        background: #fff;
        border-radius: 30px;
        @include box-shadow(0px 0px 17px 0px #edada0);
        padding: 40px 30px;
        margin-top: 30px;

        @include breakpoint($break-medium-big){
            width: 48%
        }

        @include breakpoint($break-small){
            width: 100%
        }

        h3{
            font-size: em(18);
            font-weight: 700;
            color: #d2310f;
            margin-top: 25px;
        }
    }
}

.calculadora{
    margin-top: 150px;

    @include breakpoint($break-medium-big){
        margin-top: 70px;
    }

    h2{
        color: $cor-calculadora;
    }
}

.navegacao{
    width: 590px;
    margin: 25px 0;

    @include breakpoint($break-small){
        width: 100%;
    }

    .nav-item{
        font-size: em(15);
        font-weight: bold;
        background: #fff;
        padding: 15px 60px;
        cursor: pointer;
        border-radius: 50px;
        @include box-shadow(0px 0px 17px 0px #d7d7d7);
        color: $cor-calculadora;

        @include breakpoint($break-small){
            padding: 15px 40px;
        }

        &.selected, &:hover{
            background: $cor-calculadora;
            color: #fff;
            @include box-shadow(0px 0px 17px 0px $cor-calculadora);
        }
    }
}

.calculo-area{
    width: 585px;
    @include box-shadow(0px 0px 17px 0px #c1dde2);
    padding: 50px 0 20px 0;
    border-radius: 50px;
    margin-top: 25px;
    background: #fff;
    
    @include breakpoint($break-small){
        width: 95%;
        padding: 20px 0;
        margin-top: 0;
    }

    h3{
        font-size: em(22);
        font-weight: 700;
        color: #085c6e;
        text-align: center;
        padding: 0 10px;
        
        @include breakpoint($break-small){
            font-size: em(17);
        }
    }

    .simulacao{
        margin-top: 30px;
    }

    .simular{
        width: 500px;
        font-size: em(36);
        color: $cor-calculadora;
        font-weight: 700;
        border-bottom: 2px solid #8ad40f; 
        
        @include breakpoint($break-small){
            width: 95%;
        }

        .prefix{
            margin-right: 10px;
        }

        input.valor-simulacao{
            width: 445px;
            border: 0;
            outline: 0 none;
            
            @include breakpoint($break-small){
                width: 90%;
            }            

        }
    }

    #slider{
        width: 500px;
        margin-top: 30px;
        
        @include breakpoint($break-small){
            width: 95%;
        }
    }

    .lista-opcoes-pagamento{
        width: 500px;
        margin: 0 auto;
        position: relative;
        
        @include breakpoint($break-small){
            width: 80%;
        }
    }

    .selecao-pagamento{
        position: relative;
        margin-top: 50px;

        @include breakpoint($break-small){
            margin-top: 30px;
        }

        .tipo-pagto{
            width: max-content;
            border: 2px solid $cor-calculadora;
            font-size: em(14);
            font-weight: 700;
            padding: 5px 30px;
            cursor: pointer;
            border-radius: 5px;

            &:hover, &.selected{
                background: $cor-calculadora;
                color: #fff;
            }
        }

        .owl-nav{
            button{
                position: absolute;
                top: 12px;

                &.owl-prev{
                    left: -20px;
                }

                &.owl-next{
                    right: -20px;
                }
            }

            .prev{
                @include seta(10px, #adadad, 'left');
            }

            .next{
                @include seta(10px, #adadad, 'right');
            }
        }
    }

    .info-taxas{
        width: 500px; 
        margin: 0 auto;
        
        @include breakpoint($break-small){
            width: 95%;
        }
    }

    .taxas{
        margin-top: 60px;
        padding-bottom: 35px;
        border-bottom: 2px solid #8ad40f; 

        @include breakpoint($break-small){
            margin-top: 10px;
            padding-bottom: 0;
        }
    }

    .percent-taxa, p{
        font-size: em(23);
        font-weight: 700;
        color: #085c6e;
    }

    .valor-cobrado{
        color: $cor-calculadora;
        font-weight: 700;

        .prefix{
            font-size: em(14);
        }

        .value{
            font-size: em(30);
        }
    }

    .cliente-recebe{
        text-align: center; 
        font-weight: 700;
        margin-top: 40px;

        @include breakpoint($break-small){
            margin-top: 20px;
        }

        .valor-cliente{
            color: $cor-calculadora;
        }

        .prefix{
            font-size: em(20);
        }

        .valor-total-cliente{
            font-size: em(40);
        }
    }
}

.controle-vendas{
    margin-top: 20px;

    > img{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    /*
        .container-vendas{
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
            width: 1240px;
            display: flex;
        }
    
        .imagem-maquinha{
            margin-left: 70px;
        }
        
        .conteudo-similacao{
            margin-top: 70px;
        }
     
        .btn-simular{
            display: block;
            width: 270px;
            margin: 0 auto;
            padding: 10px 0;
            color: $cor-base;
            background: #fff;
            font-size: em(19);
            text-align: center;
            border-radius: 50px;
            float: right;
            
            &:hover{
                background: $cor-secundaria;
                color: $cor-primaria;
            }
        }*/
}

.duvidas-frequentes{
    background: $cor-background;
    margin-top: 75px; 
    padding: 45px 0;

    @include breakpoint($break-medium-big){
        padding: 45px 0 0 0;
    }

    h2{
        color: $cor-base;
    }

    #accordion{
        margin-top: 50px;
    }

    .ui-accordion .ui-accordion-header{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        padding: 20px 30px;
        background: $cor-background;
        border: 0;
        border-top: 2px solid #c5c3c3;
        border-radius: 0;   
        font-size: em(16);
        color: $cor-texto;
        outline: 0 none;

        &:first-of-type{
            border-top: 0;
        }

        &[aria-expanded="true"]{
            background: $cor-base;
            color: #fff;
            border-top: 0;

            .ui-accordion-header-icon{
                @include seta(10px, #fff, 'top');
            }

            &:before,
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: $cor-base;
            }

            &:before{
                left: 100%;
            }

            &:after{
                right: 100%;
            }
        }

        .ui-accordion-header-icon{
            @include seta(10px, #c5c3c3, 'bottom');
        }

        .text{
            @include breakpoint($break-medium-big){
                width: calc(100% - 10px);
            }
        }
    }

    li{
        padding-left: 20px;
        margin-bottom: 5px;
        font-size: em(14);

        &:before{
            position: relative;
            bottom: 3px;
            margin-right: 4px;
            font-size: em(6);
            content: '\002B24';
        }
    }
}
