@import 'partials/base';
@import 'partials/jquery-ui';

$cor-calculadora: #1cc9ed;

body{
    background: url(../image/home/bg-magapay.jpg);
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;

    padding-bottom: 100px;
}

.descricao-topo{
    padding-top: 30px;

    .desc{
        width: 525px;

        img{ 
            margin-top: 20px;
        }
    }

    h2{
        font-size: em(56);
        color: #fff;
        font-weight: 700;

        span{
            display: block;
        }
    }
}

.vantagens{
    padding-top: 315px;

    h2{
        color: #d2310f;
    }

    .vantagem{
        width: 232px;
        height: 222px;
        text-align: center;
        background: #fff;
        border-radius: 30px;
        @include box-shadow(0px 0px 17px 0px #edada0);
        padding: 40px 30px;
        margin-top: 30px;

        h3{
            font-size: em(18);
            font-weight: 700;
            color: #d2310f;
            margin-top: 25px;
        }
    }
}

.calculadora{
    padding-top: 150px;

    h2{
        color: $cor-calculadora;
    }
}

.navegacao{
    width: 590px;
    margin: 25px 0;

    .nav-item{
        font-size: em(12);
        background: #fff;
        padding: 15px 60px;
        cursor: pointer;
        border-radius: 50px;
        @include box-shadow(0px 0px 17px 0px #d7d7d7);
        color: $cor-calculadora;

        &.selected, &:hover{
            background: $cor-calculadora;
            color: #fff;
            @include box-shadow(0px 0px 17px 0px $cor-calculadora);
        }
    }
}

.calculo-area{
    width: 430px;
    @include box-shadow(0px 0px 17px 0px #c1dde2);
    padding: 50px 0 20px 0;
    border-radius: 50px;
    margin-top: 25px;
    background: #fff;

    h3{
        font-size: em(22);
        font-weight: 700;
        color: #085c6e;
        text-align: center;
    }

    .simulacao{
        margin-top: 30px;
    }

    .simular{
        width: 340px;
        font-size: em(36);
        color: $cor-calculadora;
        font-weight: 700;
        border-bottom: 2px solid #8ad40f; 

        .prefix{
            margin-right: 10px;
        }

        input.valor-simulacao{
            width: 285px;
            border: 0;
            outline: 0 none;
        }
    }

    #slider{
        width: 335px;
        margin-top: 30px;
    }

    #select-payment{
        width: 250px;
        height: 32px;
        margin-top: 30px;
        border: 1px solid $cor-bordas;
        border-radius: 2px;
        font-size: em(14);
        padding-left: 10px;
        border-radius: 5px;
    }

    .info-taxas{
        width: 340px; 
        margin: 0 auto;
    }

    .taxas{
        margin-top: 60px;
        padding-bottom: 35px;
        border-bottom: 2px solid #8ad40f; 
    }

    .percent-taxa, p{
        font-size: em(18);
        font-weight: 700;
        color: #085c6e;
    }

    .valor-cobrado{
        color: $cor-calculadora;
        font-weight: 700;

        .prefix{
            font-size: em(14);
        }

        .value{
            font-size: em(24);
        }
    }

    .cliente-recebe{
        text-align: center; 
        font-weight: 700;
        margin-top: 40px;

        .valor-cliente{
            color: $cor-calculadora;
        }

        .prefix{
            font-size: em(20);
        }

        .valor-total-cliente{
            font-size: em(37);
        }
    }
}

.controle-vendas{
    margin-top: 20px;

    > img{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    /*
        .container-vendas{
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
            width: 1240px;
            display: flex;
        }
    
        .imagem-maquinha{
            margin-left: 70px;
        }
        
        .conteudo-similacao{
            margin-top: 70px;
        }
     
        .btn-simular{
            display: block;
            width: 270px;
            margin: 0 auto;
            padding: 10px 0;
            color: $cor-base;
            background: #fff;
            font-size: em(19);
            text-align: center;
            border-radius: 50px;
            float: right;
            
            &:hover{
                background: $cor-secundaria;
                color: $cor-primaria;
            }
        }*/
}

.duvidas-frequentes{
    background: $cor-background;
    margin-top: 75px; 
    padding: 45px 0;

    h2{
        color: $cor-base;
    }

    #accordion{
        margin-top: 50px;
    }

    .ui-accordion .ui-accordion-header{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        padding: 15px 10px;
        background: $cor-background;
        border: 0;
        border-bottom: 2px solid #c5c3c3;
        border-radius: 0;   
        font-size: em(14);
        color: $cor-texto;
        outline: 0 none;

        &[aria-expanded="true"]{
            background: $cor-base;
            color: #fff;

            .ui-accordion-header-icon{
                @include seta(10px, #fff, 'top');
            }
        }

        .ui-accordion-header-icon{
            @include seta(10px, #c5c3c3, 'bottom');
        }
    }
}
