@import 'partials/base';
@import 'partials/jquery-ui';
@import 'partials/owl-carousel';

body{
    background: url(../image/home/bg-topo.svg);    
    background-position: top;
    background-repeat: no-repeat;

    @include breakpoint($break-min-big){
        background-size: 100%;
    }

    @include breakpoint($break-medium-big){
        background: #fff;
    }
}