@import "partials/base";

header {
    padding: 20px 0;
    box-shadow: 1px 2px 24px rgba(10, 43, 73, 0.1);
    margin-top: 0;

    ul#nav-root {
        a {
            color: $cor-texto;

            @include breakpoint($break-medium) {
                color: #fff;
            }

            .icon-menu{
                @include seta(14px, $cor-texto, 'bottom');
            }

            .arrow-down{
                @include seta(10px, $cor-texto, 'bottom');
                margin-left: 10px;
                @include breakpoint($break-medium){
                    @include seta(10px, #FFF, 'bottom');
                }
            }
        }

        .seja-franqueado a {
            border: 1px solid $cor-texto;
        }

    }
}

body {
    background: url(../image/bg-base.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-position-y: 445px;
}

.descricao-topo {
    text-align: center;
    margin-top: 80px;

    @include breakpoint($break-medium) {
        margin-top: 40px;
    }

    h2 {
        font-size: em(56);
        color: $cor-texto;
        font-weight: 700;
        line-height: 1.2;

        @include breakpoint($break-medium-big) {
            font-size: em(32);
        }

        @include breakpoint($break-medium) {
            font-size: em(23);
            line-height: 34px;
        }

        .destaque {
            display: block;
            color: $cor-base;
        }
    }

    .arrow-down-container {
        display: flex;
        justify-content: center;
        margin: 40px 0;

        .arrow-down-background {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            padding: 10px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            @include box-shadow(0 0 1px 5px $cor-terciaria);

            .arrow-down {
                position: absolute;
                @include seta(15px, $cor-terciaria, "bottom");
            }

            @include breakpoint($break-medium-big) {
                width: 35px;
                height: 35px;
            }
        }
    }
}

.text-container {
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-top: 100px;

    @include breakpoint($break-small) {
        flex-wrap: wrap;
        padding: 0 10px;
        margin-top: 50px;
    }

    h3 {
        font-size: em(25);
        font-weight: bold;
        color: $cor-texto;
        line-height: 1.2;
        margin-bottom: 20px;

        @include breakpoint($break-medium) {
            font-size: em(18);
            text-align: center;
        }

        .vermelho {
            color: red;
        }

        .azul-claro {
            color: #2FABF7;
        }
        .azul {
            color: blue;
        }

        .verde {
            color: $cor-terciaria;
        }
    }

    p {
        color: $cor-texto-secundario;

        @include breakpoint($break-small) {
            font-size: em(14);
            line-height: 28px;
        }
    }

    .half {
        width: 50%;

        @include breakpoint($break-small) {
            width: 100%;
        }

        &.text {
            padding: 0 90px;

            @include breakpoint($break-medium-big) {
                padding: 0 20px;
            }
        }

        &.img {
            display: flex;
            justify-content: center;

            @include breakpoint($break-medium-big) {
                padding: 0 20px;
            }

            @include breakpoint($break-small) {
                margin-top: 20px;
            }
        }
    }

    .full {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        box-shadow: 1px 2px 24px rgba(10, 43, 73, 0.1);

        p {
            text-align: center;
            margin-top: 20px;
            padding: 0 70px;

            &.quote {
                padding: 0 40px;

                span {
                    font-weight: bold;
                    color: $cor-texto;
                }
            }
        }

        img {
            border-radius: 0px 100px;
        }
    }

    .destaque {
        color: $cor-base;
        font-weight: bold;
    }


    li {
        margin-top: 20px;

        &:last-of-type {
            margin-bottom: 20px;
        }
    }
}

.oferta-maquininha{
    background: #fff;
    @include box-shadow(0px 9px 34px rgba(0, 0, 0, 0.09));
    border-radius: 11px;
    margin-top: 100px;

    @include breakpoint($break-medium){
        flex-direction: column;
        margin-top: 50px;
        @include box-shadow(none);
        padding: 20px 10px;
        text-align: center;
        border-radius: 0;
    }

    .image-maquininha{
        @include breakpoint($break-medium){
            display: none;
        }
    }

    .conteudo-maquininha{
        width: 350px;
        margin-left: 60px;

        @include breakpoint($break-medium){
            width: 100%;
            margin-left: 0;
        }

        h2{
            font-size: em(24);
            font-weight: bold;
            color: $cor-texto;

            span{
                color: $cor-base;
            }
        }
    }

    a.button-conheca-maquininha{
        display: flex;
        align-items: center;
        padding: 17px 28px;
        border-radius: 6px;
        background: $cor-terciaria;
        border-radius: 6px;
        color: #fff;
        font-size: em(13);
        font-weight: bold;
        margin-left: 125px;

        @include breakpoint($break-medium){
            margin: 0 auto;
            margin-top: 20px;
        }

        &:hover{
            background: #0cb531;
        }

        .btn-icon{
            @include seta(8px, #fff, 'right');
            margin-left: 10px;
        }
    }
}