@import 'partials/base';

footer{
    background: url(../image/footer/bg-footer.jpg);
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 201px;
    margin-top: 115px;
    
    .container{
        padding-top: 75px;
        
        > div{
            width: 50%;
        }
    }
}

.dados-loja{
    p{
        width: 280px;
        font-size: em(14);
        color: $cor-texto-secundario;
        line-height: 27px;
        margin-top: 35px;
    }
}