@import 'partials/base';

footer{
    background: url(../image/footer/bg-footer.jpg);
    background-size: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 201px;
    margin-top: 115px;

    .footer-middle.container{
        padding-top: 75px;

        > div{
            width: 50%;
        }
    }
}

.dados-loja{
    .horario-atendimento{
        margin-top: 20px;
        
        h4{
            font-size: em(15);
            font-weight: bold;
            color: $cor-texto;
        }
        
        p{
            font-size: em(12);
            margin-top: 0;
            line-height: initial;
        }
    }
    
    p{
        width: 280px;
        font-size: em(14);
        color: $cor-texto-secundario;
        line-height: 22px;
        margin-top: 20px;
    }
}

.conteudo-geral{
    a{
        font-size: em(14);
        line-height: 27px;
        color: $cor-texto-secundario;
        cursor: pointer;
        
        &:hover{
            color: $cor-base;
        }
    }
    
    .destaque{
        font-weight: bold;
    }
}

.atendimento{
    .icon{
        margin-right: 10px;
    }
}

.formas-pagto{
    margin: 90px 0;
    
    .container{
        max-width: 460px;
    }
}

.footer-bottom{
    border-top: 1px solid $cor-bordas;
    padding: 10px 0;
    
    .dados-loja{
        font-size: em(13); 
        color: $cor-texto-secundario;
    }
}