@import 'partials/base';

footer{
    margin-top: 140px;

    &.is-tablet-mobile{
        margin-top: 30px;

        .footer-middle,
        .footer-middle .dados-loja,
        .conteudo-footer-middle{
            width: 100%;
            flex-direction: column;
        }

        .footer-middle{
            border-bottom: 1px solid $cor-bordas;

            .dados-loja{
                text-align: center;
                padding-bottom: 30px;

                a{
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .footer-bottom .dados-loja{
            text-align: center;
        }

        .accordion {
            margin: 0;

            h4.section-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: em(16);
                margin: 0;
                padding: 10px;
                background: #fff;
                border-top: 1px solid $cor-bordas;

                &:after,
                    &:before {
                    display: none;
                }

                .arrow-ctn {
                    .arrow-down {
                        display: block;
                        @include seta(8px, $cor-base, "bottom");
                    }
                    .arrow-up {
                        display: block;
                        @include seta(8px, $cor-base, "top");
                    }
                }
            }


            &.open {
                h2.bg-title {
                    border-bottom: 1px solid $cor-bordas;
                }
            }

            &.closed {
                .content {
                    display: none;
                }
            }

            .content {
                padding: 10px;
            }
        }
    }

    h4.section-title{
        font-size: em(12);
        color: #000;
        font-weight: bold;
    }

    .footer-middle{
        &:after{
            display: none;
        }

        p{
            font-size: em(12);
            line-height: 20px;
            color: $cor-texto-secundario;
        }

        .dados-loja{
            width: 254px;

            h4{
                margin-top: 20px;
            }

            .horario-atendimento{
                margin-bottom: 25px;
            }

            .redes-sociais {
                @include breakpoint($break-medium){
                    justify-content: center;
                }
                margin-top: em(31.88);

                a + a {
                    margin-left: em(54.98);
                }
            }

        }
    }


    .conteudo-footer-middle{
        width: 660px;

        a{
            font-size: em(12);
            line-height: 26px;
            color: $cor-texto-secundario;
            cursor: pointer;

            &:hover{
                color: $cor-base;
            }

            &.destaque{
                font-weight: bold;
                color: $cor-base;
            }
        }
    }

    .reconhecimentos{
        img{
            @include transition(0.2s);
            margin-top: 15px;

            &:hover{
                @include transform(scale(1.05));
            }
        }
    }

    .links-uteis{
        ul{
            margin-top: 10px;

            li{
                margin-top: 5px;
            }
        }
    }

    .atendimento{
        @include breakpoint($break-small){
            margin-top: 20px;
        }

        ul{
            margin-top: 10px;
        }

        .icon{
            margin-right: 10px;
        }
    }


    .formas-pagto{
        margin: 90px 0;

        @include breakpoint($break-small){
            margin: 40px 0;
        }

        .container{
            max-width: 460px;

            @include breakpoint($break-small){
                flex-wrap: wrap;
                justify-content: center;
            }

            img{
                @include breakpoint($break-small){
                    margin: 2px;
                }
            }
        }
    }

    .footer-bottom{
        border-top: 1px solid $cor-bordas;
        padding: 10px 0;

        .dados-loja{
            font-size: em(13);
            color: $cor-texto-secundario;
        }

        .flex{
            @include breakpoint($break-medium-big){
                flex-direction: column;
            }
        }

        .empresa-grupo{
            @include breakpoint($break-medium-big){
                margin-top: 10px;
            }
        }
    }
}