@import 'partials/base';

header{
    margin-top: 45px;

    a.logo{
        display: flex;

        svg#logo{
            .fil1,
            .fil2, 
            .fil3{
                fill:#fff;
            }
        } 
    }

    ul#nav-root{
        position: relative;
        width: 100%; 
        margin-left: 25px;

        > li{
            padding: 0 20px;
            
            &:hover{
                > a{
                    border-bottom: 1px solid #fff;
                }   

                .container-menu{
                    display: flex;
                }
            }

            &.seja-franqueado{
                margin-left: auto;

                > a{
                    font-weight: bold;
                    padding: 17px 28px; 
                    border: 1px solid #fff;
                    border-radius: 6px;

                    &:hover{
                        background: #0FD43A;
                        border-color: #0FD43A;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            > a{
                display: flex;
                align-items: center;
                color: #fff;
                font-size: em(14);   
                border-bottom: 1px solid transparent;

                .icon-menu{
                    @include seta(8px, #fff, 'bottom');
                    margin-left: 7px;
                }
            }
        }

        .container-menu{
            position: absolute;
            top: 39px;
            display: none;
            max-width: 1100px;
            max-height: max-content;
            z-index: 2;
            padding-top: 30px;
            
            .content-menu-area{
                display: flex;
                background: #fff;
                @include box-shadow(0px 4px 14px rgba(54, 0, 0, 0.25));
            }
        }

        ul.menu-level-2{
            padding: 58px 40px 58px 80px;
            font-size: em(14);

            > li > a{
                color: #0A2B49;
                font-weight: 500
            }
        }

        ul.menu-level-3{
            li{
                margin-top: 30px; 
            }

            a{
                color: rgba(10, 43, 73, 0.53);
                cursor: pointer;

                &:hover{
                    color: $cor-base;
                }
            }
        }

        .conteudo-menu-hover{
            background: #F6F9FC;
            padding: 58px 80px 76px 53px;

            .title-hover{
                font-size: em(14);
                color: #0A2B49;
                font-weight: 500
            }

            a.banner-menu-item{
                display: flex;
                margin-top: 32px;

                img{
                    display: block;
                }
            }
        }
    }
} 