.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix:after { clear: both; }

.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); }

.ui-front { z-index: 100; }

.ui-state-disabled { cursor: default !important; pointer-events: none; }

.ui-widget-icon-block { left: 50%; margin-left: -8px; display: block; }

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

.ui-accordion .ui-accordion-header { display: block; cursor: pointer; position: relative; margin: 2px 0 0 0; padding: 0.5em 0.5em 0.5em 0.7em; font-size: 100%; }
.ui-accordion .ui-accordion-content { padding: 20px 10px; border-top: 0; overflow: auto; border-radius: 0; }

.ui-slider { position: relative; text-align: left; }
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }
.ui-slider .ui-slider-handle { position: absolute; width: 30px; height: 20px; cursor: default; z-index: 2; -ms-touch-action: none; touch-action: none; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: 8px; }
.ui-slider-horizontal .ui-slider-handle { top: -7px; margin-left: -0.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: 0.8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -0.3em; margin-left: 0; margin-bottom: -0.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.ui-tooltip { padding: 8px; position: absolute; z-index: 9999; max-width: 300px; }

body .ui-tooltip { border-width: 2px; }

.ui-widget { font-family: Arial, Helvetica, sans-serif; font-size: 1em; }
.ui-widget.ui-widget-content { border: 1px solid #c5c5c5; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial, Helvetica, sans-serif; font-size: 1em; }

.ui-widget-content { border-bottom: 2px solid #c5c3c3; }
.ui-widget-content a { color: #333; }
.ui-widget-content p { font-size: 0.875em; color: #252525; }

.ui-widget-header { border: 1px solid #ddd; background: #e9e9e9; color: #333; font-weight: bold; }
.ui-widget-header a { color: #333; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { border: 1px solid #1cc9ed; background: #1cc9ed; font-weight: normal; }

.ui-slider-handle { color: #fff; font-size: 0.75em; font-family: monospace; cursor: pointer; text-align: center; }
.ui-slider-handle:before { content: '< >'; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button { color: #454545; text-decoration: none; }

.ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-button:hover, .ui-button:focus { border: 1px solid #1998b3; background: #1998b3; font-weight: normal; color: #2b2b2b; }

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited, a.ui-button:hover, a.ui-button:focus { color: #2b2b2b; text-decoration: none; }

.ui-visual-focus { box-shadow: 0 0 3px 1px #5e9ed6; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover { border: 1px solid #003eff; background: #007fff; font-weight: normal; color: #fff; }

.ui-icon-background, .ui-state-active .ui-icon-background { border: #003eff; background-color: #fff; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #fff; text-decoration: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid #dad55e; background: #fffa90; color: #777620; }

.ui-state-checked { border: 1px solid #dad55e; background: #fffa90; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: #777620; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { border: 1px solid #f1a899; background: #fddfdf; color: #5f3f3f; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #5f3f3f; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #5f3f3f; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary { opacity: .7; filter: Alpha(Opacity=70); font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter: Alpha(Opacity=35); background-image: none; }

.ui-state-disabled .ui-icon { filter: Alpha(Opacity=35); }

.ui-icon { width: 16px; height: 16px; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 3px; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 3px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 3px; }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 3px; }

.ui-widget-overlay { background: #aaa; opacity: .3; filter: Alpha(Opacity=30); }

.ui-widget-shadow { -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; box-shadow: 0 0 5px #666; }

/* Owl Carousel - Core */
.owl-carousel { display: none; width: 100%; -webkit-tap-highlight-color: transparent; position: relative; z-index: 1; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; touch-action: manipulation; -moz-backface-visibility: hidden; /* fix firefox animation glitch */ }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; /* fix for flashing background */ -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper, .owl-carousel .owl-item { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item { position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }
.owl-carousel .owl-item img { display: block; width: 100%; }
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled { display: none; }
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot { cursor: pointer; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot { background: none; color: inherit; border: none; padding: 0 !important; font: inherit; }
.owl-carousel.owl-loaded { display: block; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel.owl-refresh .owl-item { visibility: hidden; }
.owl-carousel.owl-drag .owl-item { touch-action: pan-y; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-grab { cursor: move; cursor: grab; }
.owl-carousel.owl-rtl { direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }

/* No Js */
.no-js .owl-carousel { display: block; }

body { background: url(../image/home/bg-magapay.jpg); background-size: 100%; background-position: right top; background-repeat: no-repeat; }

.descricao-topo { padding-top: 30px; }
.descricao-topo .desc { width: 525px; }
.descricao-topo .desc img { margin-top: 20px; }
.descricao-topo h2 { font-size: 3.5em; color: #fff; font-weight: 700; }
.descricao-topo h2 span { display: block; }

.vantagens { padding-top: 315px; }
.vantagens h2 { color: #d2310f; }
.vantagens .vantagem { width: 232px; height: 222px; text-align: center; background: #fff; border-radius: 30px; -moz-box-shadow: 0px 0px 17px 0px #edada0; -webkit-box-shadow: 0px 0px 17px 0px #edada0; box-shadow: 0px 0px 17px 0px #edada0; padding: 40px 30px; margin-top: 30px; }
.vantagens .vantagem h3 { font-size: 1.125em; font-weight: 700; color: #d2310f; margin-top: 25px; }

.calculadora { padding-top: 150px; }
.calculadora h2 { color: #1cc9ed; }

.navegacao { width: 590px; margin: 25px 0; }
.navegacao .nav-item { font-size: 0.75em; background: #fff; padding: 15px 60px; cursor: pointer; border-radius: 50px; -moz-box-shadow: 0px 0px 17px 0px #d7d7d7; -webkit-box-shadow: 0px 0px 17px 0px #d7d7d7; box-shadow: 0px 0px 17px 0px #d7d7d7; color: #1cc9ed; }
.navegacao .nav-item.selected, .navegacao .nav-item:hover { background: #1cc9ed; color: #fff; -moz-box-shadow: 0px 0px 17px 0px #1cc9ed; -webkit-box-shadow: 0px 0px 17px 0px #1cc9ed; box-shadow: 0px 0px 17px 0px #1cc9ed; }

.calculo-area { width: 585px; -moz-box-shadow: 0px 0px 17px 0px #c1dde2; -webkit-box-shadow: 0px 0px 17px 0px #c1dde2; box-shadow: 0px 0px 17px 0px #c1dde2; padding: 50px 0 20px 0; border-radius: 50px; margin-top: 25px; background: #fff; }
.calculo-area h3 { font-size: 1.375em; font-weight: 700; color: #085c6e; text-align: center; }
.calculo-area .simulacao { margin-top: 30px; }
.calculo-area .simular { width: 500px; font-size: 2.25em; color: #1cc9ed; font-weight: 700; border-bottom: 2px solid #8ad40f; }
.calculo-area .simular .prefix { margin-right: 10px; }
.calculo-area .simular input.valor-simulacao { width: 445px; border: 0; outline: 0 none; }
.calculo-area #slider { width: 500px; margin-top: 30px; }
.calculo-area .lista-opcoes-pagamento { width: 500px; margin: 0 auto; position: relative; }
.calculo-area .selecao-pagamento { position: relative; margin-top: 50px; }
.calculo-area .selecao-pagamento .tipo-pagto { width: max-content; border: 2px solid #1cc9ed; font-size: 0.875em; font-weight: 700; padding: 5px 30px; cursor: pointer; border-radius: 5px; }
.calculo-area .selecao-pagamento .tipo-pagto:hover, .calculo-area .selecao-pagamento .tipo-pagto.selected { background: #1cc9ed; color: #fff; }
.calculo-area .selecao-pagamento .owl-nav button { position: absolute; top: 12px; }
.calculo-area .selecao-pagamento .owl-nav button.owl-prev { left: -20px; }
.calculo-area .selecao-pagamento .owl-nav button.owl-next { right: -20px; }
.calculo-area .selecao-pagamento .owl-nav .prev { width: 10px; height: 10px; border-right: 2px solid #adadad; border-bottom: 2px solid #adadad; -moz-transform: translateX(20%) rotate(135deg); -ms-transform: translateX(20%) rotate(135deg); -webkit-transform: translateX(20%) rotate(135deg); transform: translateX(20%) rotate(135deg); }
.calculo-area .selecao-pagamento .owl-nav .next { width: 10px; height: 10px; border-right: 2px solid #adadad; border-bottom: 2px solid #adadad; -moz-transform: translateX(-20%) rotate(-45deg); -ms-transform: translateX(-20%) rotate(-45deg); -webkit-transform: translateX(-20%) rotate(-45deg); transform: translateX(-20%) rotate(-45deg); }
.calculo-area .info-taxas { width: 500px; margin: 0 auto; }
.calculo-area .taxas { margin-top: 60px; padding-bottom: 35px; border-bottom: 2px solid #8ad40f; }
.calculo-area .percent-taxa, .calculo-area p { font-size: 1.4375em; font-weight: 700; color: #085c6e; }
.calculo-area .valor-cobrado { color: #1cc9ed; font-weight: 700; }
.calculo-area .valor-cobrado .prefix { font-size: 0.875em; }
.calculo-area .valor-cobrado .value { font-size: 1.875em; }
.calculo-area .cliente-recebe { text-align: center; font-weight: 700; margin-top: 40px; }
.calculo-area .cliente-recebe .valor-cliente { color: #1cc9ed; }
.calculo-area .cliente-recebe .prefix { font-size: 1.25em; }
.calculo-area .cliente-recebe .valor-total-cliente { font-size: 2.5em; }

.controle-vendas { margin-top: 20px; /* .container-vendas{ position: absolute; right: 0; bottom: 0; left: 0; margin: 0 auto; width: 1240px; display: flex; }
 .imagem-maquinha{ margin-left: 70px; }  .conteudo-similacao{ margin-top: 70px; }  .btn-simular{ display: block; width: 270px; margin: 0 auto; padding: 10px 0; color: $cor-base; background: #fff; font-size: em(19); text-align: center; border-radius: 50px; float: right;  &:hover{ background: $cor-secundaria; color: $cor-primaria; } }*/ }
.controle-vendas > img { display: block; width: 100%; margin: 0 auto; }

.duvidas-frequentes { background: #f0f0f0; margin-top: 75px; padding: 45px 0; }
.duvidas-frequentes h2 { color: #a11b51; }
.duvidas-frequentes #accordion { margin-top: 50px; }
.duvidas-frequentes .ui-accordion .ui-accordion-header { display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center; padding: 15px 10px; background: #f0f0f0; border: 0; border-bottom: 2px solid #c5c3c3; border-radius: 0; font-size: 0.875em; color: #252525; outline: 0 none; }
.duvidas-frequentes .ui-accordion .ui-accordion-header[aria-expanded="true"] { background: #a11b51; color: #fff; }
.duvidas-frequentes .ui-accordion .ui-accordion-header[aria-expanded="true"] .ui-accordion-header-icon { width: 10px; height: 10px; border-right: 2px solid #fff; border-bottom: 2px solid #fff; -moz-transform: translateY(20%) rotate(-135deg); -ms-transform: translateY(20%) rotate(-135deg); -webkit-transform: translateY(20%) rotate(-135deg); transform: translateY(20%) rotate(-135deg); }
.duvidas-frequentes .ui-accordion .ui-accordion-header .ui-accordion-header-icon { width: 10px; height: 10px; border-right: 2px solid #c5c3c3; border-bottom: 2px solid #c5c3c3; -moz-transform: translateY(-20%) rotate(45deg); -ms-transform: translateY(-20%) rotate(45deg); -webkit-transform: translateY(-20%) rotate(45deg); transform: translateY(-20%) rotate(45deg); }
.duvidas-frequentes li { padding-left: 20px; margin-bottom: 5px; font-size: 0.875em; }
.duvidas-frequentes li:before { position: relative; bottom: 3px; margin-right: 4px; font-size: 0.375em; content: '\002B24'; }
