body { background: url("../image/home/background-magapay.jpg") repeat-x; }

.descricao-topo { padding-top: 30px; }
.descricao-topo .desc { width: 525px; }
.descricao-topo .desc img { margin-top: 20px; }
.descricao-topo h2 { font-size: 3.5em; color: #fff; font-weight: 700; }
.descricao-topo h2 span { display: block; }

.vantagens { padding-top: 315px; }
.vantagens h2 { color: #d2310f; }
.vantagens .vantagem { width: 232px; height: 222px; text-align: center; background: #fff; border-radius: 30px; -moz-box-shadow: 0px 0px 17px 0px #edada0; -webkit-box-shadow: 0px 0px 17px 0px #edada0; box-shadow: 0px 0px 17px 0px #edada0; padding: 40px 30px; margin-top: 30px; }
.vantagens .vantagem h3 { font-size: 1.125em; font-weight: 700; color: #d2310f; margin-top: 25px; }
